.bin-image-carousel {
  .image-placeholder {
    height: 200px;
    color: @bin-gray;
    background-color: rgba(0,0,0,0.02);

    i {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}